////
/// Add a poster comment here.
////

$colors: (
   'background': (
      primary: #fff,
      secondary: #c0c0c0,
      ternary: #464646,
      quartenary: rgba(170, 170, 170, .1)
   ),
   'grid': (
      column: #ff7bac,
      column-transparent: rgba(200, 0, 0, .2),
      baseline: #29abe2
   )
);

///
/// Font-related styles, irrespective of page
///
$font--stack:     'Helvetica Neue', Helvetica, Arial, sans-serif;
$font--base-size: 1rem;
$font--size--h1:  2rem;
$font--size--h2:  1.5rem;
$font--size--h3:  1.17rem;

///
/// Font Weights
///
$light: 200;
$bold:  700;

///
/// Styles specific to the grid.
///
/// The variables $width--grid-column and $width--grid-gutter below map to the
/// variables column and gutter in the JS file at content/main.js. For the grid to
/// work consistently, these Sass variables must map to the JS variables.
///
$width--grid-column:       60px;
$width--grid-gutter:       20px;
$width--grid-gutter-split: $width--grid-gutter / 2;                   // 10px
$width--grid-column-full:  $width--grid-column + $width--grid-gutter; // 80px
$height--leading:          24px;
