@import '../styles/variables';

#modular-grid {
   position: relative !important;
   margin: 0 auto !important;
   border: 0 !important;
   padding: 0 !important;
}

#modular-grid--container {
   position: absolute !important;
   top: 0 !important;
   left: 0 !important;
   border: 0 !important;
   padding: 0 !important;
   width: 100% !important;
}
